.frame{
  width: 98vw;
  height: 80vh;
  border-radius: 14px;
  object-fit:cover;
  margin-top: 30px;
}.Video{
  display: flex;
  align-items: center;
  justify-content: center;
  
}video{
 object-fit:cover; 
}